body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

p {
    font-size: 18px;
}

header {
    background-color: lightblue;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 15px;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .welcome{
    background-color:rgb(3, 139, 173);
    color:white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}

.banner .welcome span{
    font-size: 1.4em;
}

nav{
    background-color:rgb(0, 192, 192);
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav li{
   width: 25%;
   display: inline-block;
   font-size: 24px;
}

nav li a{
   text-decoration: none;
   color: white;
}

nav li a:hover{
   text-decoration: underline;
}

nav li a.join{
    color:red;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: darkblue;
    font-size: 48px;
}

article p{
    line-height: 2em;
    color: #4b4b4b;
}

article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}

.images{
    text-align: center;
    margin: 80px 0;
    white-space:nowrap;
}

.images li{
    display:inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
}

.images li:hover{
    top: -4px

}

.images li img{
    max-width: 100%;
}

section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b
}

section.join h2{
    font-size: 36px;   
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}

form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}

footer {
    background: lightblue;
    color: white;
    padding: 10px;
    text-align: center;
}
