body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

body {
    background-color: silver;
}

p {
    font-size: 18px;
}

textarea {
    resize: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: lightblue;
    padding: 20px 0 0 0;
    text-align: center;
    width: 100%;
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 15px;
}

nav {
    background-color:rgb(0, 192, 192);
    padding: 20px;
    margin-top: 20px;
}

nav ul {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav li {
   width: 24%;
   display: inline-block;
   font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: whitesmoke;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a.join {
    color:red;
}

main {
    padding: 20px 0;
}

.form-group {
    padding: 10px 0;
}

.form-group .form-element input {
    margin: 10px 0;
}

footer {
    background: lightblue;
    color: white;
    padding: 10px;
    text-align: center;
}

